PROBLEMA EXAMEN AMPARO/Clase tema 7/SOAP/ClienteSWConversor/web/WEB-INF/wsdl/localhost_8080/AplicacionSWConversor/SWConversor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://conversor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://conversor/" name="SWConversor">
<types>
<xsd:schema>
<xsd:import namespace="http://conversor/" schemaLocation="http://localhost:8080/AplicacionSWConversor/SWConversor?xsd=1"/>
</xsd:schema>
</types>
<message name="grad2rad">
<part name="parameters" element="tns:grad2rad"/>
</message>
<message name="grad2radResponse">
<part name="parameters" element="tns:grad2radResponse"/>
</message>
<message name="angsup1">
<part name="parameters" element="tns:angsup1"/>
</message>
<message name="angsup1Response">
<part name="parameters" element="tns:angsup1Response"/>
</message>
<message name="tipoang">
<part name="parameters" element="tns:tipoang"/>
</message>
<message name="tipoangResponse">
<part name="parameters" element="tns:tipoangResponse"/>
</message>
<portType name="SWConversor">
<operation name="grad2rad">
<input wsam:Action="http://conversor/SWConversor/grad2radRequest" message="tns:grad2rad"/>
<output wsam:Action="http://conversor/SWConversor/grad2radResponse" message="tns:grad2radResponse"/>
</operation>
<operation name="angsup1">
<input wsam:Action="http://conversor/SWConversor/angsup1Request" message="tns:angsup1"/>
<output wsam:Action="http://conversor/SWConversor/angsup1Response" message="tns:angsup1Response"/>
</operation>
<operation name="tipoang">
<input wsam:Action="http://conversor/SWConversor/tipoangRequest" message="tns:tipoang"/>
<output wsam:Action="http://conversor/SWConversor/tipoangResponse" message="tns:tipoangResponse"/>
</operation>
</portType>
<binding name="SWConversorPortBinding" type="tns:SWConversor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="grad2rad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="angsup1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tipoang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SWConversor">
<port name="SWConversorPort" binding="tns:SWConversorPortBinding">
<soap:address location="http://localhost:8080/AplicacionSWConversor/SWConversor"/>
</port>
</service>
</definitions>